.container {
    width: 100%;
   
  }
  


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
   
    width: 100%;
  }
  
  #newForm {
 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 00px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-card {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust the maximum width as per your requirement */
  margin: 0 auto; /* Center the form horizontally */
  }
  
  .close-button {
    background: none;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .form-label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .form-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-submit {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-submit:hover {
    background-color: #45a049;
  }
  

  mat-form-field {
    margin-bottom: 15px;
    
  }

  #name{
    position: relative;
    right: -800px;
  }
  /* Style the input placeholders */
  .mat-form-field-placeholder {
    color: #757575; /* Placeholder text color */
  }
  
  /* Style the input text */
  .mat-input-element {
    color: #333; /* Input text color */
  }
  
  /* Add some border and box-shadow for a cleaner look */
  .mat-input-element {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the focused state of the input */
  .mat-focused .mat-input-element {
    border-color: #4CAF50; /* Change the border color when focused */
  }